/* dm = db-man */
.dbm-page {
  /* margin will cause scrollbar on page */
  /* margin: 10px; */
  padding: 10px;
}

/* images column of table */
/*.dbm-page > * > .ant-table-cell > * > img {*/
.ant-table-cell img {
  width: 150px;
}

.dm-distinct-column-item {
  padding: 10px;
  background-color: white;
}

.dbm-form-field,
.dm-action-buttons {
  margin-top: 10px;
}

.dm-dd-image-link a span {
  /* color: white;  */
  width: 150px;
  display: block;
  position: absolute;
  font-size: 1px;
}

.dm-dd-image-link a img {
  width: 150px;
}

.dm-table-filter {
  margin-bottom: 10px;
}
